/* public attendance component styles */
.min-vh-100 {
  min-height: 100vh;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.card {
  border-radius: 1rem;
}
.card-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card-footer {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
